SECRET_KEY=django-insecure-changez-cette-cle-en-production-minimum-50-caracteres
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=aselby_db
DB_USER=aselby_user
DB_PASSWORD=aselby_pass
DB_HOST=localhost
DB_PORT=5432
DJANGO_SETTINGS_MODULE=config.settings.dev
